main {
  max-width: 600px;
  margin: 40px auto;
  padding:  20px;
}

form {
  display: flex;
  gap: 10px;
}

input {
  flex: 1;
  padding: 10px;
}

button{
  padding: 10px 15px;
}
.concluida {
  text-decoration: line-through;
}